.audioPlayer__container{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
.noStyleButton{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}


.audioPlayer__image{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.mainImageAnim{
    animation-name: tweeder;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes tweeder{
    0%{ transform: scale(1.1) }
    15%{ transform: scale(1.15) }
    35%{ transform: scale(1.1)}
    70%{ transform: scale(1.15) }
    90%{ transform: scale(1.1) }
    100%{ transform: scale(1.1) }
}

.audioPlayer__name{
    height: 20px;
}

.audioPlayer__controls-container{
    display: flex;
    width: 100%;
}
.audioPlayer__controls-buttons{
    display: flex;
    flex: 2 1 0;
}
.uploadButton__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0;
}

.audioPlayer__button-container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 0;
}

.volumeBar__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.audioTime__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.audioTime{
    margin-bottom: 10px;
}

.resp{
    flex: 1 1 0;
}


@media only screen and (max-width: 800px) {
    .uploadButton__container{
        justify-content: center;
        flex: 1 1 0;
    }
    .audioPlayer__controls-container{
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .audioTime__container {
        display: flex;
        flex-direction: column;
    }
}