.seekerBar__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.seekerBar__gray{
    cursor: pointer;
    background-color: white;
    width: 400px;
    height: 10px;
    border-radius: 4px;
}
.seekerBar__progress{
    position: relative;
    height: 10px;
    border-radius: 4px;

}



.seekerBar__time{
    position: absolute;
    bottom: 0;
    border: solid green 1px;
    background-color: white;
    height: 20px;
    transform: translate(-50%, -50%);
    color: black;

}
