.seekerBar__container{
    border: solid red 1px;
}

.seekerBar__gray{
    cursor: pointer;
    background-color: white;
    width: 400px;
    border-radius: 4px;
    overflow: hidden;
}
.seekerBar__progress{
    position: relative;
    height: 10px;
}



.seekerBar__time{
    position: absolute;
    bottom: 0;
    border: solid green 1px;
    background-color: white;
    height: 20px;
    transform: translate(-50%, -50%);
    color: black;

}
