.volumeBar__container{
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.volumeBar__gray{
    position: relative;

    cursor: pointer;
    background-color: gray;
    width: 200px;
    height: 10px;
    border-radius: 4px;
}
.volumeBar__progress{
    position: relative;
    background-color: white;
    height: 10px;
    border-radius: 4px;
}

.volumeBar__volume{
    position: absolute;
    bottom: 2px;
    border-radius: 4px;
    background-color: white;
    height: 20px;
    transform: translate(-50%, -50%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
